<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net451" />
  <package id="NinjaTurtles" version="0.8.1.1" targetFramework="net451" />
  <package id="NLog" version="3.2.0.0" targetFramework="net451" />
</packages>